@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Epilogue&family=Source+Code+Pro:wght@400;700&display=swap");

/*
 * Colour themes
 */
:root {
  --background-color: #0e1019;
  --text-color: #cccccc;
  --header-color: #ff000f;
  --hover-color: #f5515b;
  --heading-color: #ffffff;
}

[data-theme="light"] {
  --background-color: #ffffff;
  --text-color: #000000;
  --heading-color: #000000;
  --hover-color: #131313;
  --header-color: #2c3e50;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Code Pro", monospace;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: auto;
  font-style: normal;
  width: 90vw;
  max-width: 640px;

  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

/*
 * Header / navbar
 */

header {
  margin-top: 2em;
  margin-bottom: 2.5em;
}

nav {
  text-align: center;
}

.top-header {
  color: var(--header-color);
  text-shadow: 1px 1px 2px var(--header-color);
  font-size: 2rem;
  margin: 0.67em 0 0.67em 0;
}

/*
 * Normal text
 */

h1 {
  color: var(--heading-color);
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

h2 {
  color: var(--heading-color);
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

h3 {
  color: var(--heading-color);
}

p {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.5;
  font-weight: normal;
  font-size: 1.1rem;
  hyphens: auto;
}

/*
 * Links
 */

a {
  color: var(--header-color);
}

a:hover {
  color: var(--hover-color);
  text-shadow: 0px 0px 2px var(--hover-color);
}

.nostyle {
  text-decoration: none;
}

/*
 * Lists
 */

.project-list {
  list-style: none;
  padding: 0;
}

.project-list li {
  border-bottom: 1px solid var(--text-color);
  margin-bottom: 2em;
}

/*
 * Footer
 */

footer {
  margin-top: 3em;
}

footer p {
  text-align: center;
  color: var(--heading-color);
}

/*
 * Images
 */

img {
  width: 30em;
  max-width: 70vw;
  max-height: 20em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: contain;
}

figcaption {
  text-align: center;
  padding-top: 10px;
}

/*
 * Code formatting
 */

pre {
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}
