/*
 * Fonts
 */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Source Code Pro Bold'), url(/fonts/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevW.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Code Pro'), url(/fonts/source-code-pro.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans'), url(/fonts/noto-sans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Noto Sans Bold'), url(/fonts/noto-sans-bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: local('Noto Sans Mono'), url(/fonts/noto-sans-mono.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*
 * Colour themes
 */
:root {
  --background-color: #000;
  --text-color: #ccc;
  --heading-color: #fff;
  --header-color: #ff000f;
  --top-color: #ff000f;
  --hover-color: #f5515b;
  --shadow-size: 2px;
  --link-color: #fff;
  --background-faint: #202020;
}

[data-theme="light"] {
  --background-color: #f9f4e6;
  --text-color: #000;
  --heading-color: #000;
  --header-color: #7d2a0c;
  --top-color: #7d2a0c;
  --hover-color: #ca9a4e;
  --shadow-size: 0px;
  --link-color: #f9f4e6;
  --background-faint: #e8dfc5;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: auto;
  font-style: normal;
  width: 90vw;
  max-width: 45rem;

  /* transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out; */
}

/*
 * Header / navbar
 */

header {
  margin-top: 2em;
  margin-bottom: 2.5em;
}

nav {
  text-align: center;
  font-family: "Noto Sans Mono", monospace;
}

nav a {
  padding: 1px;
  line-height: 2;
}

.top-header {
  color: var(--top-color);
  text-shadow: 1px 1px 2px var(--top-color);
  text-align: center;
  font-size: 2rem;
  margin: 0.67em 0 0.67em 0;
  font-family: "Source Code Pro", monospace;
}

.top-header a {
  color: var(--top-color);
}

.top-header a:hover {
  text-shadow: 0px 0px var(--shadow-size) var(--hover-color);
  color: var(--hover-color);
  background: none;
}

/*
 * Normal text
 */

h1 {
  font-family: "Noto Sans Mono", monospace;
  color: var(--heading-color);
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: left;
}

h2 {
  font-family: "Noto Sans Mono", monospace;
  color: var(--heading-color);
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: left;
}

h3 {
  font-family: "Noto Sans Mono", monospace;
  color: var(--heading-color);
  font-size: 1.1rem;
}

p {
  line-height: 1.4;
  font-weight: normal;
  font-size: 1.1rem;
}

li {
  margin-top: 0.5rem;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--text-color);
  border-spacing: 1px;
  border-collapse: collapse;
  border-color: var(--heading-color);
}

tr:nth-child(even) {
  background: var(--background-faint);
}

th {
  font-weight: bold;
  border-bottom: 1px solid var(--heading-color);
}

th,
td {
  padding: 5px;
}

blockquote {
  margin: 0 2rem 0 2rem;
  font-style: italic;
  padding: 0 1rem 0 1rem;
  border: 2px dashed var(--heading-color);
}

/*
 * Links
 */

a {
  color: var(--header-color);
}

a:hover {
  color: var(--link-color);
  background-color: var(--header-color);
  text-decoration: none;
}

.nostyle {
  text-decoration: none;
}

/*
 * Lists
 */

.project-list {
  list-style: none;
  padding: 0;
}

.project-list li {
  border-bottom: 1px solid var(--text-color);
  margin-bottom: 2em;
}

/*
 * Footer
 */

footer {
  margin-top: 3em;
}

footer p {
  text-align: center;
  color: var(--heading-color);
}

/*
 * Images
 */

img {
  width: 30em;
  max-width: 70vw;
  max-height: 20em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: contain;
}

figcaption {
  text-align: center;
  padding-top: 10px;
}

/*
 * Code formatting
 */

pre {
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  position: relative;
}

code {
  font-family: "Noto Sans Mono", monospace;
  font-size: 0.85rem;
}

:not(pre)>code {
  background: #0f1419;
  color: #fff;
  border-radius: 3px;
  padding: 2px 5px 2px 5px;
  font-size: 85%;
}

pre:hover>.copy-button {
  opacity: 0.9;
}

.copy-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 7px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  opacity: 0;
  transition: 0.2s;

  background-color: #555555;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.copy-button:hover {
  cursor: pointer;
  background-color: #e7e7e7;
  color: #000;
}

/*
 * Comments section
 */

#comments {
  margin-top: 5rem;
  border-top: 1px solid;
}

#comments h1 {
  margin-top: 1rem;
}