{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<h1 style="text-align:left;">{{ page.title }}</h1>
<p><strong>{{ page.date }}</strong></p>

<!-- Table of contents -->
<div style="border-top:1px solid;border-bottom:1px solid;margin-bottom:2rem;">
  <h3>Table of Contents</h3>
  {% if page.toc %}
  <ul>
    {% for h1 in page.toc %}
    <li>
      <a class="nostyle" href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
      {% if h1.children %}
      <ul>
        {% for h2 in h1.children %}
        <li>
          <a class="nostyle" href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

{{ page.content | safe }}


<div id="comments">
  <h1>Comments</h1>
  <form id="comment-form">
    <input type="text" name="user" id="name" placeholder="Name">
    <textarea name="content" placeholder="Comment..."></textarea>
    <input class="submit-button" type="submit" value="Comment!">
  </form>
</div>

<script>
if (navigator.clipboard) {
  document.querySelectorAll("pre > code").forEach((codeBlock) => {
    let button = document.createElement("button");
    button.className = "copy-button";
    button.type = "button";
    button.innerText = "Copy";
    button.addEventListener("click", copyCode);
    let pre = codeBlock.parentNode;
    pre.appendChild(button);
  });
}

async function copyCode(event) {
  const btn = event.srcElement;
  const pre = btn.parentElement;
  let code = pre.querySelector("code");
  let text = code.innerText;
  await navigator.clipboard.writeText(text);
  btn.blur();
  btn.innerText = "Copied!";
  setTimeout(() => (btn.innerText = "Copy"), 2000);
}

// TODO: Move common behaviour to separate JS file

let commentForm = document.getElementById("comment-form");

commentForm.onsubmit = async (e) => {
  e.preventDefault();

  let data = new FormData(e.target);
  const value = Object.fromEntries(data.entries());
  value.post_slug = "{{ page.slug }}";

  // TODO: Make sure fields are filled in

  // Create a comment using POST
  const res = await fetch("https://callumirving-blog-api.herokuapp.com/createcomment", {
    method: "POST",
    mode: "cors",
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify(value),
  });

  if (res.status === 200)
    location.reload();
};

async function getComments() {
  const res = await fetch("https://callumirving-blog-api.herokuapp.com/comments/{{ page.slug }}");
  const json = await res.json();

  let commentsDiv = document.getElementById("comments");
  json.comments.reverse().forEach((comment) => {
    let commentDiv = document.createElement("div");
    commentDiv.classList.add("comment");
    commentDiv.id = "comment_" + comment.id;
    
    if (comment.parent) {
      // Find depth of parent
      let depth = 1;
      let parent = comment.parent;
      while (parent) {
        parent = parent.parent;
        depth++;
      }

      let widthStr = (100 - depth * 2).toString();
      commentDiv.setAttribute("style", `width:${widthStr}%`);
    }

    let name = document.createElement("h4");
    name.classList.add("comment-user");
    name.appendChild(document.createTextNode(comment.user));
    commentDiv.appendChild(name);

    let date = document.createElement("p");
    date.classList.add("comment-date");
    date.appendChild(document.createTextNode(comment.date));
    commentDiv.appendChild(date);

    let content = document.createElement("p");
    content.classList.add("comment-body");
    content.appendChild(document.createTextNode(comment.content));
    commentDiv.appendChild(content);

    commentsDiv.appendChild(commentDiv);
  });
}

getComments();
</script>

{% endblock content %}
