{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block head %}
<script defer src="/copy_code.js"></script>
{% endblock %}

{% block content %}
<h1 style="text-align: left">{{ page.title }}</h1>
<p><strong>{{ page.date }}</strong></p>

<!-- Table of contents -->
{% if page.toc %}
<div style="border-top: 1px solid; border-bottom: 1px solid; margin-bottom: 2rem">
  <h2 style="margin-top: 1rem; margin-bottom: 0">Table of Contents</h2>
  <ul>
    {% for h1 in page.toc %}
    <li>
      <a class="nostyle" href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
      {% if h1.children %}
      <ul>
        {% for h2 in h1.children %}
        <li>
          <a class="nostyle" href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{{ page.content | safe }}

<p>
  <br />
  Please feel free to
  <a href="mailto:callum@callumirving.com">email me</a> with any questions
  or comments about this article.
</p>

{% endblock content %}