{% extends "base.html" %}

{% block title %}Callum Irving's Website{% endblock %}

{% block content %}
<div id="aboutme">
  <h1>About me</h1>
  <p>
    Hi! I'm Callum Irving. I am a student and software developer with 5+ years
    of experience creating personal projects. I am open to opportunities right
    now so please contact me using the info on the bottom section of this site.
    My programming expertise is mostly in backend and low-level programming. I
    love working with data and APIs. I also enjoy programming for embedded
    systems like PIC chips or Arduino.
  </p>
</div>

<div id="projects">
  <h1>Some of my projects</h1>
  <p>There are some of my favourite projects that I have worked on:</p>
  <ul class="project-list" style="width:90%;margin:top:3em;margin:auto">
    <li>
      <h2 style="margin-top: 2rem">
        <a href="/projects/callisp">callisp</a>
      </h2>
      <p>
        callisp is an interpreter for a Lisp that I created. I was inspired to
        create this while taking a course that used the Racket programming
        language. My language supports floating point arithmetic and strings as
        well as if statements and lambda functions.
      </p>
    </li>
    <li>
      <h2>
        <a href="https://github.com/Callum-Irving/snvis">snvis</a>
      </h2>
      <p>
        snvis is a tool used for visualising simple social networks. The
        original reason for creating it was to help split a large group of
        people into smaller groups. You can install it through pip under the
        name "snvis".
      </p>
    </li>
    <li>
      <h2>
        <a href="https://github.com/Callum-Irving/housing-price-predictor">Housing Price Predictor</a>
      </h2>
      <p>
        After I took the free Coursera machine learning course, I wanted to use
        the knowledge I had gained to make something possibly useful. Throughout
        the course, the instructor had used a housing price predictor as an
        example a few times, so I tried to build that. This is the result. It
        uses Tensorflow to train a model based off of housing data from U.S
        cities.
      </p>
    </li>
    <li>
      <h2>
        <a href="https://github.com/EmreCenk/memelet">Memelet</a>
      </h2>
      <p>
        Memelet is project that my group made for the Wafflehacks 2021
        hackathon. The idea is to create flashcards that are also memes to make
        studying more fun. You can view the deployment of it at
        <a href="https://memelet.study/">memelet.study</a>. Overall, this was a
        very fun project to work on and it came out better than I expected to be
        honest. <br /><br />
        Note: Unfortunately, memelet is not available any more and I am not in
        control of the project.
      </p>
    </li>
  </ul>
  <p style="padding-top: 1em">
    Go to my <a href="/projects">projects page</a> to view more of my projects!
    You can also check out my
    <a href="https://github.com/Callum-Irving/">github profile</a>
    to see what I'm working on currently.
  </p>
</div>

<div id="blog">
  <h1>Come check out my blog!</h1>
  <p>
    I'm generally not the type of person to write opinion pieces for fun but
    whenever I occasionally have something to say or just have something that I
    feel people should know, I'm going to try to put it on my
    <a href="/blog">blog page</a>.
  </p>
</div>

<div id="aboutwebsite">
  <h1>About this website</h1>
  <p>
    In the past I have spent a lot of time trying to make the most modern
    website using Javscript frameworks like React, NextJS and Vue. It finally
    occurred to me that I didn't need those complicated frameworks for such a
    simple site. I made this website using
    <a href="https://www.getzola.org/">Zola</a>
    , a simple static site engine.
  </p>

  <p>
    The inspiration for this website came from looking at the
    <a href="https://adventofcode.com/2021/">Advent of Code 2021</a>
    website. The website doesn't have random stuff cluttering it and despite
    having an "old" design, it's actually very readable.
  </p>
</div>

<div id="contact">
  <h1>Contact me</h1>
  <p>
    Please come check out my
    <a href="https://github.com/Callum-Irving/">github</a>
    or feel free to send me an
    <a href="mailto:callum@callumirving.com">email</a>.
  </p>
</div>
{% endblock %}