{% extends "base.html" %}

{% block title %}Callum Irving's Projects{% endblock %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>

<p>These are some of the projects I have made over the years, sorted in no particular order.</p>

<ul class="project-list">
  {% for page in section.pages %}
  <li>
    <h3 style="margin-bottom:0"><a class="nostyle" href="{{ page.permalink | safe }}">{{ page.title }}</a></h3>
    <p style="margin-top: 0.5em">{{ page.description }}</p>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
